variable "gce_leader_instance_count" {
    description = "Number of leader instances in GCE"
    default = 3
}

variable "gce_follower_instance_count" {
    description = "Number of follower instances in GCE"
    default = 1
}

variable "gce_account_file" {
    description = "Path to your GCE account credentials file"
    default = "gce_account.json"
}

variable "gce_project_name" {
    description = "Name of your existing GCE project"
    default = "sisprev-966"
}

variable "gce_region" {
    description = "Region to run GCE instances in"
    default = "us-central1"
}

variable "gce_zone" {
    description = "Zone to run GCE instances in"
    default = "us-central1-b"
}

variable "gce_coreos_disk_image" {
    description = "Name of CoreOS Root disk image for the GCE instances to use"
    default = "coreos-stable-647-2-0-v20150528"
}

variable "gce_machine_type" {
    description = "Type of instance ot use in GCE"
    default = "n1-standard-1"
}
